.Output {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0.75);

  padding: 2px;

  word-wrap: break-word;
  word-break: break-all;
}

.previous-value {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.current-value {
  color: white;
  font-size: 2.5rem;
}
