*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 20px;
}

.background {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  background: linear-gradient(
    to bottom,
    rgba(163, 10, 201, 0.75) 20%,
    rgba(0, 153, 255, 0.75) 100%
  );
}
